///////// Projects Section //////




.project .col-4 {
    text-align: center;
}


.project-card img {
    height: 120px;
    margin: 50px auto 40px;
    width: 120px;
    object-fit: cover;
}


.project h1 {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 30px;
}

.project-card p {
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #696969;
    padding: 2px 0px;
}

.project {
    padding: 60px 0;
}
