.banner-heading p {
    font-size: 30px;
    padding: 16px 0px 10px 20px;
}


.banner-title input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20% !important;
}

.banner-title {
    padding: 0 21px;
}


.banner-subtitle input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.banner-subtitle {
    padding: 0 20px;
}


.banner-image input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.banner-image {
    padding: 0 20px;
}

.banner-button {
    margin: 23px 20px;
}

.banner-button button.btn.btn-primary {
    width: 20%;
}