<div class="banner-heading">
    <p>Banner Form</p>
</div>

<div>
    <form [formGroup]="bannerForm">
        <div class="banner-title">
            Tiltle : <input type="text" class="form-control"  formControlName="title">
        </div>

        <div class="banner-subtitle">
            Subtiltle : <input type="text" class="form-control"  formControlName="subtitle">
        </div>

        <div class="banner-image">
            Image : <input type="text" class="form-control"  formControlName="image">
        </div>

        <div class="banner-button">
            <button class="btn btn-primary" (click)="register()">Submit</button>
        </div>
    </form>
</div>



