<div class="header">
    <div class="container">
        <div class="row" >
            <div class="col-3">
                <div class="logo">
                    <a> Muhammad Anis</a>
                </div>
            </div>

            <div class="col-9">
                <div class="nav-bar">
                   <ul>
                    <li><a class="text-uppercase" routerLink="/Home">Home</a></li>
                    <li><a class="text-uppercase" routerLink="/About">About</a></li>
                    <li><a class="text-uppercase" routerLink="/Services">Services</a></li>
                    <li><a class="text-uppercase" routerLink="/Portfolio">Portfolio</a></li>
                    <li><a class="text-uppercase" routerLink="/Pricing">Pricing</a></li>
                    <li><a class="text-uppercase" routerLink="/Blog">Blog</a></li>
                    <li><a class="text-uppercase" routerLink="/Pages">Pages</a></li>
                    <li><a class="text-uppercase" routerLink="/contact-us">contact-us</a></li>
                    
                   </ul>
                </div>
            </div>

        </div>
    </div>
</div>