@import url(../../../styles.scss);

.header{
    padding: 15px 0px;
    box-shadow: 2px 2px 10px #cecccc;
}

.logo a {
    color: black;
}

.nav-bar {
    float: right;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    
}

.nav-bar a {
    padding: 0 10px;
    font-size: 14px;
    color: black;
}