<div class="header">
    <div class="container">
        <div class="row" >
            <div class="col-3">
                <div class="logo">
                    <a routerLink="/homepage"> Muhammad Anis</a>
                </div>
            </div>

            <div class="col-9">
                <div class="nav-bar">
                   <ul>
                    <li><a class="text-uppercase" routerLink="/about">About</a></li>
                    <li><a class="text-uppercase" routerLink="/services">Services</a></li>
                    <li><a class="text-uppercase" routerLink="/portfolio">Portfolio</a></li>
                    <li><a class="text-uppercase" routerLink="/pricing">Pricing</a></li>
                    <li><a class="text-uppercase" routerLink="/blog">Blog</a></li>
                    <li><a class="text-uppercase" routerLink="/pages">Pages</a></li>
                    <li><a class="text-uppercase" routerLink="/contact-us">Contact-us</a></li>
                    
                   </ul>
                </div>
            </div>

        </div>
    </div>
</div>