.experience-heading p {
    font-size: 30px;
    padding: 16px 0px 10px 20px;
}

.experience-image input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.experience-image{
    padding: 0 20px;
}


.experience-designation input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20% !important;
}

.experience-designation {
    padding: 0 21px;
}


.experience-cname input.form-control {
    margin: 10px 0px;
    width: 20% !important;
}

.experience-cname {
    padding: 0 21px;
}

.experience-tenure input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.experience-tenure {
    padding: 0 20px;
}

.experience-button {
    margin: 23px 20px;
}

.experience-button button.btn.btn-primary {
    width: 20%;
}