<!-- banner-section -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="banner-text mt-5">
                    <h6 class="text-uppercase">{{banner.subtitle}}</h6>
                    <h1 class="text-uppercase">{{banner.title}}</h1>
                    <p>{{banner.description}}</p>
                    <button class="text-uppercase">discover now</button>
                </div>
            </div>
            <div class="col-6">
                <div class="banner-right-img">
                    <img [src]="banner.img" alt="">
                </div>
            </div>
        </div>

    </div>

</div>


<!-- about-section -->

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="about-left-img">
                    <img [src]="about.image" alt="">

                </div>
            </div>
            <div class="col-6">
                <div class="about-text mt-5">
                    <h6 class="text-uppercase">{{about.subtitle}}</h6>
                    <h1 class="text-uppercase">{{about.title}}</h1>
                    <p>{{about.description}}</p>
                    <button class="text-uppercase">view full details</button>
                </div>
                   
            </div>
            </div>
                
        </div>
</div>

<!-- Experience-section -->

<div class="experience">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Experiences</h1>
            </div>
            @for (item of experience; track item.companyName) {
                <div class="col-4">
                    <div class="experience-card">
                        <img [src]="item.image" alt="Experience Image">
                        <p>{{item.designation}}</p>
                        <h4>{{item.companyName}}</h4>
                        <p>{{item.tenure}}</p>
                    </div>
                </div>
            } @empty {
                <li>There are no items.</li>
            }
        </div>
    </div>
</div>

<!-- Education-section -->

<div class="education">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Educations</h1>
            </div>
            @for (item of education; track item.universityName) {
                <div class="col-3">
                    <div class="education-card">
                        <img [src]="item.image" alt="Education image">
                        <p>{{item.universityName}}</p>
                        <h4>{{item.degree}}</h4>
                        <p>{{item.tenure}}</p>
                    </div>
                </div> 
                } @empty {
                <li>There are no items.</li>
                }   
        </div>
    </div>
</div>

<div class="project">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Projects</h1>
            </div>
            @for (item of project; track item.companyName) {
                <div class="col-4">
                    <div class="project-card">
                        <img [src]="item.image" alt="Project-image">
                        <p>{{item.projectName}}</p>
                        <h4>{{item.companyName}}</h4>
                        <p>{{item.designation}}</p>
                    </div>
                </div>
                } @empty {
                <li>There are no items.</li>
                }
                
           
        </div>
    </div>
</div>






            


