.education-heading p {
    font-size: 30px;
    padding: 16px 0px 10px 20px;
}

.education-image input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.education-image{
    padding: 0 20px;
}


.university-name input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20% !important;
}

.university-name {
    padding: 0 21px;
}

.university-degree input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.university-degree {
    padding: 0 20px;
}




.university-tenure input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.university-tenure {
    padding: 0 20px;
}

.education-button {
    margin: 23px 20px;
}

.education-button button.btn.btn-primary {
    width: 20%;
}