.footer .mail-box i.fa-solid {
    font-size: 25px;
}


.footer .mail-box a {
    font-size: 19px;
    color: #212529;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer {
    text-align: center;
    background: #eaeaea;
    margin: 100px 0 0;
    padding: 60px 0;
}

.footer-copyright p {
    color: #fff;
    font-size: 18px;
}

.footer-copyright {
    text-align: center;
    background: #212529;
    padding: 12px 0;
}