<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="mail-box">
                    <i class="fa-solid fa-envelope pe-3"></i>
                    <a href="mailto:anisiqbal484&#64;gmail.com">anisiqbal484&#64;gmail.com</a>
                </div>
            </div>

            <div class="col-4">
                <div class="mail-box">
                    <i class="fa-solid fa-phone pe-3"></i>
                    <a href="tel:+923070210260">03070210260</a>
                </div>
            </div>

            <div class="col-4">
                <div class="mail-box">
                    <i class="fa-solid fa-location-crosshairs pe-3"></i>
                    <a href="#">Karachi, Pakistan</a>
                </div>
            </div>
        </div>
    </div>
</div>