.about-heading p {
    font-size: 30px;
    padding: 16px 0px 10px 20px;
}


.about-title input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20% !important;
}

.about-title {
    padding: 0 21px;
}


.about-subtitle input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.about-subtitle {
    padding: 0 20px;
}

.about-description input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.about-description {
    padding: 0 20px;
}



.about-image input.ng-untouched.ng-pristine.ng-valid {
    margin: 10px 0px;
    width: 20%;
}

.about-image {
    padding: 0 20px;
}

.about-button {
    margin: 23px 20px;
}

.about-button button.btn.btn-primary {
    width: 20%;
}